@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	-webkit-appearance: none;
	/* 0px hides scroll bars, originally 7px for good sizing */
	width: 0px;
	height: 0px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.4);
}
